.container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: moccasin;
    border-style: dashed;

}
.email{
    white-space: nowrap;
    margin-left: 10%;
    padding-bottom: 30px;
}
.icon a{
    font-size: 30px;
    padding: 10px;
    color: black;
}
.container h2{
    text-align: center;
    color: blue;
    padding-bottom: 30px;
    padding-top: 30px;
}